<launch>

    <!-- Automation Software -->
    <include file="$(find asd_core)/launch/main.launch">
        <arg name="using_zed" value="true" />

        <arg name="cmd_topic" value="/cmd_vel" />

        <arg name="odom_topic" value="/zed/zed_node/odom" />
        <arg name="odom_frame" value="odom" />

        <arg name="rgb_image_topic" value="/zed/zed_node/rgb/image_rect_color" />
        <arg name="rgb_camera_info_topic" value="/zed/zed_node/rgb/camera_info" />

        <arg name="depth_image_topic" value="/zed/zed_node/depth/depth_registered" />
        <arg name="depth_camera_info_topic" default="/zed/zed_node/depth/camera_info" />
    </include>
</launch>