<launch>
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_marker_sdf_1" args="-file /home/ozurover/.gazebo/models/marker1/model.sdf
        -sdf
        -model marker_1
        -x -6.8
        -y -6.18 
        -z 1.34
        -R 0
        -P 0
        -Y 1.57" />

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_marker_sdf_2" args="-file /home/ozurover/.gazebo/models/marker2/model.sdf
        -sdf
        -model marker_2
        -x -9.54
        -y -8.4
        -z 1.34
        -R 0
        -P 0
        -Y 0" />

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_marker_sdf_3" args="-file /home/ozurover/.gazebo/models/marker3/model.sdf
        -sdf
        -model marker_3
        -x -2.8
        -y -4.18
        -z 0.95
        -R 0
        -P 0
        -Y 1.57" />

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_marker_sdf_4" args="-file /home/ozurover/.gazebo/models/marker4/model.sdf
        -sdf
        -model marker_4
        -x -2.71
        -y -0.82
        -z 1.29
        -R 0
        -P 0
        -Y 1.57" />
</launch>