<launch>

    <!-- Arguments -->
    <arg name="rviz" default="true" />
    
    <!-- Config Files -->
    <arg name="rviz_cfg" default="$(find asd_test)/rviz/default.rviz" />

    <!-- Start Simulation-->
    <include file="$(find leo_gazebo)/launch/leo_marsyard.launch">
        <arg name="gui" default="true"/>
    </include>

    <!-- Spawn Markers -->
    <!-- <include file="$(find asd_test)/launch/markers.launch" /> -->

    <!-- rviz -->
    <group if="$(arg rviz)">
        <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(arg rviz_cfg)"/>
    </group>

</launch>
